html/wp-config.php
.DS_STORE
.idea/
bin/ssl/
*.log
secret-*.yaml
license.txt
readme.html
/html/wp-*.php
/html/index.php
/html/xmlrpc.php
/html/.gitattributes
/html/wp-admin/
/html/wp-content/index.php
/html/wp-content/themes/index.php
/html/wp-content/themes/twenty*/
/html/wp-includes/
/html/wp-content/ai1wm-backups/*.wpress
/html/wp-content/cache/**
#/html/wp-content/plugins/**
/html/wp-content/backups-dup-pro/**
/html/wp-content/ewww/**
#!/html/wp-content/plugins/*/
#!/html/wp-content/plugins/*/.gitkeep
#!/html/wp-content/plugins/wpml/**

